<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts :: header"></head>
<body>
    <head th:replace="layouts :: navbar"></head>

    <h1 class="text-center">Front page for testing changes on Push</h1>
    <h2 class="text-center">Environment: <a th:text="${environment}"></a> </h2>
    <h2 class="text-center">Database: <a th:text="${database}"></a> </h2>
    <h2 class="text-center">Version: <a th:text="${versionNumber}"></a> </h2>

    <h3 class="text-center">Change me</h3>

</body>
</html>